---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Marzo 2021 - Actualidad",
    title: "Editor Audiovisual Periodístico - Televisión Litoral (Canal 3)",
    description: `Elaboro y edito piezas informativas para el noticiero correspondiente manteniendo los parámetros televisivos estipulados, además me confiaron la responsabilidad de ser el encargado y principal editor del programa "Antes de Salir" `,
    link: "https://www.youtube.com/@lisandrocarrieri6044/videos",
  },
  {
    date: "Agosto 2022 - Actualidad",
    title: "Frontend Developer",
    description: `Comencé a implementar todos mis conocimientos adquiridos en diferentes cursos, programas y bootcamps que concluí (por ejemplo: "Oracle NEXT EDUCATION" o "The Complete 2024 Web Development Bootcamp") realizando pequeños proyectos para mi círculo cercano como familiares y amigos, diseñando soluciones para alguno de sus problemas, mi objetivo es poder perfilar mi carrera profesional al desarrollo web.`,
    link: "https://app.aluracursos.com/program/certificate/6c1c0693-d58d-4fbe-8c43-fa600fc0ffe5",
  },
  {
    date: "Mayo 2019 - Marzo 2021",
    title: "Community Manager y ventas  - Mega Aberturas SRL",
    description: `Desarrollé y mantuve relaciones sólidas con la comunidad de clientes y potenciales clientes. Creé y ejecuté estrategias de marketing efectivas que aumentaron la conciencia de la marca y generaron leads de venta. Fui responsable de la creación de contenido atractivo y relevante para las redes sociales, para atraer y retener a seguidores y aumentar la conciencia de la marca.`,
  },
  {
    date: "Mayo 2016 - Mayo 2019",
    title: "Servicio de atención al público  - Arcos Dorados SA (McDonald's)",
    description: `Me encargaba de brindar un servicio amable y eficiente a los clientes, tomando sus pedidos y respondiendo a cualquier pregunta o inquietud que pudieran tener. Manejaba la caja registradora de manera eficiente, procesando pagos a alta velocidad. Colaboraba con mis compañeros de trabajo para asegurar un servicio rápido y eficiente a los clientes y mantener un ambiente de trabajo positivo.`,
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
